.cartProducts{
    display: flex;
    flex-direction: column;
    
    &List{
        &Item{
            &Remove{
                cursor: pointer;
                color: red;
            }
        }
    }

    &Validate, &Signin{
        margin: 20px auto;
    }
}
